.posts_parent {
  display: flex;
  flex-direction: column;

}

.posts_parent>input {
  background-color: #1D2020;
  color: white;
  margin: auto;
  border: none;
  text-align: center;
  min-width: 20vw;
  border-radius: 10px;
  min-height: 5vh;
  outline: none;
  margin-bottom: 10px;
}

.posts {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  background: #262a2b;
  padding-left: 2px;
  padding-right: 2px;
}

@media screen and (max-width: 930px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}