.openpost {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: #262a2b;
  color: rgb(220, 223, 30);
  padding: 50px;
  margin-bottom: 20px;
}

.openpost__left {
  flex: 1;
}

.openpost__right {
  flex: 1;
}

.openpost__left img {
  object-fit: contain;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(138, 135, 135, 0.5);
}

.openpost__subHeading {
  color: #96939b;
}

.openpost__message {
  margin-top: 20px;
  font-size: 20px;
  color: #96939b;
}

.openpost__message h2 {
  color: white !important;
}

@media only screen and (min-width: 360px) and (max-width: 810px) {
  .openpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .openpost__left img {
    width: 300px;
    object-fit: cover;
  }
  .openpost__right {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
