.openpost {
  display: flex;
  height: 100%;
  background-color: #262a2b;
  color: white;
  padding: 50px;
}

.openpost__left {
  flex: 0.6;
}

.openpost__left img {
  object-fit: contain;
  width: 500px;
  height: 500px;
}

.openpost__right {
  flex: 0.4;
  flex-direction: column;
}

.openpost__subHeading {
  color: #96939b;
}

.openpost__message {
  margin-top: 20px;
  font-size: 20px;
  color: #96939b;
}

.openpost__message h2 {
  color: white !important;
}
