.header {
  color: white;
  display: flex;
  height: 72px;
  align-items: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.76);
  justify-content: space-between;
  z-index: 99;
  top: 0;
  position: sticky;
}

.header__left {
  margin-left: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.header__left > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}

.header__right {
  margin-right: 20px;
}
