/* .openpost {
  display: flex;
  height: 100%;
  background-color: #262a2b;
  color: white;
  padding: 50px;
}

.openpost__left {
  flex: 0.6;
}

.openpost__left img {
  object-fit: contain;
  width: 500px;
  height: 500px;
}

.openpost__right {
  flex: 0.4;
  flex-direction: column;
}

.openpost__subHeading {
  color: #96939b;
}

.openpost__message {
  margin-top: 20px;
  font-size: 20px;
  color: #96939b;
}

.openpost__message h2 {
  color: white !important;
} */





    .openpost {
      display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
padding: 3rem;
place-items: center;
column-gap: 7rem;
row-gap: 3rem;
/* margin-bottom: 0;
padding-bottom: 0;
width: auto; */

/* @media ${(props) => props.theme.breakpoints.sm} {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
} */
      justify-content: space-around;
      
     
      background-color: #ffffff;
      color: rgb(220, 223, 30);
      padding: 50px;
      
    }
    
    .openpost__left {
      /* flex: 0.6; */
      /* margin: 0%; */
      
    }
    
    .openpost__left img {
      object-fit: contain;
      width: 400px;
      height: 400px;
      border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(138, 135, 135, 0.5);
     
    }
    
    .openpost__right {
      /* margin: 0%;
      */
    }
    
    .openpost__subHeading {
      color: #96939b;
    }
    
    .openpost__message {
      margin-top: 20px;
      font-size: 20px;
      color: #96939b;
    }
    
    .openpost__message h2 {
      color: white !important;
    }